html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  display: grid;
}

#main {
  display: flex;
}

#left {
  display: flex;
  flex-direction: column;
}

#management {
  display: flex;
  flex-direction: column;
}

#list {
  margin: 5px;
  width: 260px;
  font-size: 16px;
  align-self: center;
}

#buttons {
  display: flex;
  flex-direction: row;
  align-self: center;
}


#render-container {
  height: 500px;
  margin: 5px;
  position: relative;
}

#render {
  width: 100%;
  height: 100%;
}

#render-running {
  position: absolute;
  right: 5px;
  bottom: 5px;
  height: 30px;
  width: 30px;
  fill: white
}

button {
  margin: 5px;
  padding: 5px;
  width: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

button > svg {
  width: 2em;
  height: 2em;
  margin-bottom: 5px;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

#name {
  margin: 5px;
  width: 300px;
  font-size: 16px;
}

#blockly {
  flex: auto;
}

#program {
  flex: auto;
  display: flex;
  align-items: start;
}

#program-actions {
  display: flex;
  flex-direction: column;
}

#bytecode {
  margin: 5px;
  flex: auto;
  align-self: stretch;
  resize: none;
}
