html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  display: grid;
}

#main {
  display: flex;
}

#left {
  display: flex;
  flex-direction: column;
}

#render {
  height: 500px;
  margin: 5px;
}

#controls {
  padding: 5px;
}

#blockly {
  flex: auto;
}

.button {
  margin: 5px;
}