html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  display: grid;
}

#main {
  display: flex;
}

#left {
  display: flex;
  flex-direction: column;
}

#render {
  height: 500px;
  margin: 5px;
}

#list {
  margin: 5px;
  width: 300px;
  font-size: 16px;
}

#buttons {
  display: flex;
  flex-direction: row;
}

button {
  margin: 5px;
  padding: 5px;
  width: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

button > svg {
  width: 2em;
  height: 2em;
  margin-bottom: 5px;
}

#name {
  margin: 5px;
  width: 300px;
  font-size: 16px;
}

#blockly {
  flex: auto;
}

#program {
  flex: auto;
  display: flex;
  align-items: start;
}

#bytecode {
  margin: 5px;
  flex: auto;
  align-self: stretch;
  resize: none;
}
